# Секретные настройки и ключи
config.py
.env

# Папки с сессиями и логами пользователей
sessions/
logs/
*.log

# Базы данных
*.db
*.sqlite3

# Служебные файлы Python и кэш
__pycache__/
*.pyc
.venv/
venv/
.idea/
.vscode/
